@font-face{
    src: url(../fonts/KumbhSans-Regular.ttf);
    font-family: Kumbh;
}

body{
    margin: auto;
    background: bottom 40vh right 50vw url('../images/bg-pattern-top.svg') no-repeat, 
    top 50vh left 50vw url('../images/bg-pattern-bottom.svg') no-repeat,
    hsl(185, 75%, 39%);
    background-attachment: fixed;
    font-family: Kumbh;
}

h2{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}
.cardClass{
    position:relative;
    background: url(../images/bg-pattern-card.svg) top, white bottom;
    background-repeat: no-repeat;
    width: 340px;
    height: 380px;
    border-radius: 20px;  
    margin:auto;
    margin-top: 8%; 
}

.cardClass img{
    border-radius: 50px;
    border: 5px solid white;
    position: relative;
    margin-top: 28%;
    left: 50%;
    transform: translateX(-50%);
}

.attribution{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.toBold{
    font-weight: 700;
    font-size: 18px;
}

.Bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;
}

.Bottom div{
    text-align: center;
}

.cardClass section{
    text-align: center;
}
.cardClass section h3{
    font-size: 18px;
    font-weight: initial;
    color: hsl(0, 0%, 59%);
}
.cardClass .Bottom p{
    font-size: 10px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 2px;
}

.cardClass section span{
    color: black;
}

.cardClass section:nth-of-type(1) p{
    font-size: 13px;
    color: hsl(0, 0%, 59%);
}

