@font-face{
    src: url("fonts/Poppins-Regular.ttf");
    font-family: Poppins;
}

body{
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    font-family: Poppins;
}

.container{
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    padding: 0% 10%;
}

.leftSide{
    color: white;
    font-size: 16px;
    width: 40%;
}

.leftSide h1{
    font-size: 39px;

}

.leftSide p{
    font-weight: 400;
}

.rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.rightSide p{
    font-size: 10px;
    text-align: center;
}

.rightSide input {
    width: 88%;
    height: 30px;
    font-family: Poppins;
    padding-left: 20px;
    font-weight: 700;
}

.rightSide > button{
    color: white;
    background-color: hsl(248, 32%, 49%);
    border: none;
    border-radius: 4px;
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    font-family:Poppins;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.3);
}
.rightSide form button{
    color: white;
    background-color: hsl(154, 59%, 51%);
    border: none;
    width: 95%;
    height: 40px;
    margin-top: 20px;
    font-family:Poppins;
}

footer{
    text-align: center;
}



